/addmeal.php
/AssetManagement
/avant
/avant.zip
/avantnew.zip
/cafeteria
/cafeteriamain
/cafeteriaMaster.zip
/cafeteriaMasterBeforeChange
/DB
/delete.php
/display.php
/footer1_nw.php
/footer_old_nw.php
/header1_nw.php
/header_old_nw.php
/hostelcafeteria
/hostelCafteriaMaster
/index.php
/insert.php
/LeaveManagement
/new_css
/register.php
/sample
/samplecodes
/sidebar1_nw.php
/sidebar_old_nw.php
/Template
/theme.zip
/update.php